## Question 1 -  Discuss String slicing and provide examples.

In [ ]:
# Ans :-  String is a ordered collection  of character , where each charecter is in the form of single text , which is used to be access and manipulate the data. 
# string is a heterogenous data structure. (It can contain any type of data.)
# String is immutable data structure. (can access , but cannot manipulate)

In [40]:
# Understand with some examples :-
nam = "mohsin"
print(nam)
print(type(nam))

mohsin
<class 'str'>

In [41]:
## accessing of the elements.
nam[0]

'm'

In [43]:
nam[3]

's'

In [45]:
nam[5]

'n'

In [44]:
nam[-5]

'o'

In [42]:
nam[-3]

's'

In [47]:
## lets try to manipulate the elements :-
name[1] = "l" # we cannot manipulate , because string is immutable, always get error. (does not support item assignment)

TypeError: 'str' object does not support item assignment

In [48]:
name[-3] = "f" # we cannot manipulate , because string is immutable, always get error. (does not support item assignment)

TypeError: 'str' object does not support item assignment

In [ ]:
# String Slicing :- String slicing is used to slice or extract the string. Basically it used to make a sub-string by cuttting or extracting of a string.
                  # Slicing is used to cut the full string in parts, And we can make a new sub-string from that string.
                  # Slicing used to break a string into sub-strings.
                  # We can also reverse the complete string by the use of slicing of string.
                  # We used accessing of index for slicing/extracting the string.
                  # Syntax of string is >> [start:end:step]
                  # In index we will also count space as a index.

In [1]:
# Examples of String slicing:-

In [5]:
name = "My name is Mohsin Khan" # This is a string data structure.
print(name)
print(type(name))

My name is Mohsin Khan
<class 'str'>

In [6]:
# This is used to print the complete string.
name[0:] # here we give only start point that is from 0th index , and we not provide any end point , so it will ptint the complete string.

'My name is Mohsin Khan'

In [7]:
# by this method we can print the complete string, because we not give any start point or end point , so it will by default print from starting to end.
name[::]

'My name is Mohsin Khan'

In [8]:
name[4:12] # so here we provide code , to print from 4rth index to the 11th index , it will exclude 12th index , because we start counting from 0 in index.

'ame is M'

In [9]:
name[0:10] # here we provide code , to print from 0th index to the 9th index , it will exclude the 10th index.

'My name is'

In [10]:
name[2:12:1] # here it will print from 2nd index to the 11th index , exclude 12th index , it will print by taking step 1.

' name is M'

In [11]:
name[2:12:2] # here we can see we give same starting and ending index, but the step count is 2, that's why it print this result.It will print by taking step 2.

' aei '

In [16]:
name[2::] # it means it will start from 2nd index , and by taking step 1 , print the complete string , because there is no input given regarding end index.

' name is Mohsin Khan'

In [17]:
name[2::3] #it will print from the 2nd index, to the last index, because there is no input given regarding end index, it wil print by taking step 3.

' miMs a'

# If we try with negative index it will give different result , because negative index will start counting from right to left (-1 , -2 , -3 , -4 , -infinity.)
but it will also follow the same rule.

In [14]:
name[-3:] # it will start from -3rd index and will print till the last index.

'han'

In [15]:
name[-15:-2] # so it will start from the -15th index and print to the -3nd index , it will exlude the -2nd index. Because negative index works opposite direction(right to left).

' is Mohsin Kh'

In [20]:
name[-10:-3:2] # it will print from -10th index to the -4th index , it will exclude the -3rd index, by taking step 2.

'osnK'

In [33]:
name[:-5] # it means print the string from starting till the -6th index , exclude the -5th index.

'My name is Mohsin'

In [35]:
name[:-3] # it means print the string from starting till the -4th index , exclude the -3rd index.

'My name is Mohsin K'

#### If we want to reverse the complete string :-

In [25]:
name[::-1] # by giving -1 as a step , it will reverse the complete string.

'nahK nishoM si eman yM'

In [26]:
name[::-2] # it will reverse the complete string and print the complete string  by taking step of 2.

'nh ihMs mny'

In [27]:
name[::-3] # it will reverse the complete string and print the complete string  by taking step of 3.

'nKiosenM'

In [28]:
name[::-5] # reverse the complete string and print the complete string  by taking step of 5.

'nnMey'

### Some additional information about string:-

### functions of string :-

In [ ]:
# 1 - .replace()       # used to replace any elements from the other elements in the string.
# 2 - .upper()         # used to convert all text in uppercase.
# 3 - .lower()         # used to convert all text in lowercase.
# 4 - .capitalize()    # used to make first text capital in the any statement.
# 5 - .title()         # used to make first text capital in each cherecter of the statement.
# 6 - .swapcase()      # used to convert lowercase in uppercase and uppercase in lowercase.
# 7 - .startswith()    # used to check that a charecter is starts with that purticular text.
# 8 - .endswith()      # used to check that a charecter is ends with that purticular text.
# 9 - .isalnum()       # used to check that a character have any alphabetic text or numeric number or have not both.
# 10 - sorted()        # used to sort the charecters alphabetically. (ordering string)
# 11 - .strip()        # used to delete the unneccesery space from the charecter.(ordering string function)
# 12 - .split()        # used to split the string in diffrent substrings.(splitting string function)
# 13 - 'f'  {}         # formatting string , used to make a format of common string which can be used again and agian.
# 14 - \n , \t , \r,\  # these are some escape function of string. (used for new line , tab function(4 space) , carriage return(make beginning), use in place of                          apostrophe respectively.)
# 15 - len()           # used to check the complete length of string.
# 16 - Concatenation   # used to add strings.

In [ ]:
# These are the complete functions of strings.

In [ ]:
# This is the complete understanding of Slicing of string.

## Question 2 :- Explain the key features of list in python.

In [ ]:
# Ans :- Data structure which is in the form of ordered sequence of elemnts with mutability and hetrogenous in nature is known as List data structure.
      # List is mutable. (can bee accesseble and manipulated easily.)
      # List is heterogenous data structure.(contains any type of data)
      # Syntax of list >> [] (square bracket)

### Features of list:-

In [ ]:
# List are ordered.
# List is mutable.
# list is hetrogenous.
# slicing/ extracting of list
# repeatation operation in list
# Range features in list
# List in List
# concatenation in list
# Deep copy and shallow copy
# membership operator in list
# List comprehension

In [49]:
lis = ["mohsin" , "abhishek" , 15 , 50 , 55.55 , 60.15 , True , False, 3+60j] # this is a normal list >> hetrogenous data structure.
print(lis)
print(type(lis))

['mohsin', 'abhishek', 15, 50, 55.55, 60.15, True, False, (3+60j)]
<class 'list'>

In [50]:
# Let's try to access the list :-
lis[2]

15

In [51]:
lis[1]

'abhishek'

In [52]:
lis[7]

False

In [53]:
lis[-1]

(3+60j)

In [54]:
lis[-3]

True

In [ ]:
# This is the process of accessing the list.

In [55]:
# Let's try to manipulate the list :-
lis[2] = "mohsin"

In [56]:
lis

['mohsin', 'abhishek', 'mohsin', 50, 55.55, 60.15, True, False, (3+60j)]

In [57]:
lis[-2] = True

In [58]:
lis

['mohsin', 'abhishek', 'mohsin', 50, 55.55, 60.15, True, True, (3+60j)]

In [59]:
lis[5]=16
lis

['mohsin', 'abhishek', 'mohsin', 50, 55.55, 16, True, True, (3+60j)]

In [60]:
lis[-5] = 65.28
lis

['mohsin', 'abhishek', 'mohsin', 50, 65.28, 16, True, True, (3+60j)]

In [ ]:
# This is the process of manipulating the list.

In [ ]:
# So , here we can see we can access and manipulation of  list , so list is a mutable data structure.

### Explanation of  Features of list :-

In [12]:
# Slicing of list :- Syntax of slicing >> [start:end:step]

In [13]:
lis = ["mohsin" , "abhishek" , 15 , 50 , 55.55 , 60.15 , True , False, 3+60j]
print(lis)
print(type(lis))

['mohsin', 'abhishek', 15, 50, 55.55, 60.15, True, False, (3+60j)]
<class 'list'>

In [14]:
lis[0:]

['mohsin', 'abhishek', 15, 50, 55.55, 60.15, True, False, (3+60j)]

In [18]:
lis[::]

['mohsin', 'abhishek', 15, 50, 55.55, 60.15, True, False, (3+60j)]

In [15]:
lis[0:5]

['mohsin', 'abhishek', 15, 50, 55.55]

In [16]:
lis[2:6]

[15, 50, 55.55, 60.15]

In [17]:
lis[-3:8]

[True, False]

In [23]:
lis[4:8:2]

[55.55, True]

In [24]:
lis[-3:]

[True, False, (3+60j)]

In [25]:
lis[-3::]

[True, False, (3+60j)]

In [26]:
lis[3::]

[50, 55.55, 60.15, True, False, (3+60j)]

In [27]:
lis[::-2] # it will reverse the complete list by taking step 2.

[(3+60j), True, 55.55, 15, 'mohsin']

In [28]:
# Repeating of list :- it helps to print the same list again and again , till the given code will not satisfied.
# syntax of repeating >> (*) :-

In [31]:
a = [1,2,3]
a * 3 # This is known as repetation operator of list.

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [32]:
# another example :-
grocery_list = ["potato" , "tomato" , "mango" , "apple" , 15 , 12 , "mustard oil"]
grocery_list*2 # this is known as repetation of list.

['potato',
 'tomato',
 'mango',
 'apple',
 15,
 12,
 'mustard oil',
 'potato',
 'tomato',
 'mango',
 'apple',
 15,
 12,
 'mustard oil']

In [33]:
# another examples :-
lis = ["mohsin" , "swati" , "zeba" , "abhishek" , "sanjeev"]
lis*5 # it will print 5 times.

['mohsin',
 'swati',
 'zeba',
 'abhishek',
 'sanjeev',
 'mohsin',
 'swati',
 'zeba',
 'abhishek',
 'sanjeev',
 'mohsin',
 'swati',
 'zeba',
 'abhishek',
 'sanjeev',
 'mohsin',
 'swati',
 'zeba',
 'abhishek',
 'sanjeev',
 'mohsin',
 'swati',
 'zeba',
 'abhishek',
 'sanjeev']

In [ ]:
# There is another feature which is used in the list is range :- range provide the complete range from starting to end.
# syntax of range = [start,end,step]

In [78]:
# example :-
range(0,10) # this is the feature of range.

range(0, 10)

In [79]:
# when we use range in list :- if we want all even number between 0 to 9.
list(range(0,10)) # it will print the complete number from 0 to 9 , it will exclude the 10th number.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
# if we say:-
list(range(0,10,2)) # it will print the complete number from 0 to 9 , excluded 10th number , by taking step of 2.

[0, 2, 4, 6, 8]

In [81]:
list(range(0,10,3)) # if we want all numbers  b/w 0 to 10 which are divisible by 3 .

[0, 3, 6, 9]

In [83]:
list(range(0,50,3,)) # this is the numbers b/w 0 to 50 , divisible by 3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

So this is the complete use of range features in the list.

In [34]:
# List in list :- one list have another list.

In [35]:
data = ["mohsin" , "swati" , [True , False , 3+5j], "abhishek" , "zeba" , [1 , 2 , 3 , 4]] # this is known as list in list.
print(data)
print(type(data))

['mohsin', 'swati', [True, False, (3+5j)], 'abhishek', 'zeba', [1, 2, 3, 4]]
<class 'list'>

In [36]:
data[1]

'swati'

In [37]:
data[-1]

[1, 2, 3, 4]

In [38]:
data[2]

[True, False, (3+5j)]

In [39]:
data[-2]

'zeba'

In [40]:
# if we want to access list in list elements :-
data[2][1] # by this method we can get list in list.

False

In [41]:
data[-1][-1]

4

In [42]:
data[-1][-3]

2

this is the feature of list in list of list data structure.

In [ ]:
# Concatenation of list :- combining the list , and make a single list is known as concatenation of list.

In [43]:
lis1 = [1 , 2 , 3,"mohsin" , "swati"]
lis2 = [5,6,7,"abhishek" , "sanjeev"]
lis3 = lis1 + lis2

In [44]:
lis3 # this is known as concatenation of list.

[1, 2, 3, 'mohsin', 'swati', 5, 6, 7, 'abhishek', 'sanjeev']

In [48]:
lis1

[1, 2, 3, 'mohsin', 'swati']

In [49]:
lis2

[5, 6, 7, 'abhishek', 'sanjeev']

In [50]:
lis3 # combination of lis1 and lis2 >> known as concatenation.

[1, 2, 3, 'mohsin', 'swati', 5, 6, 7, 'abhishek', 'sanjeev']

In [45]:
data1 = ["mohsin" , "swati" , "abhishek"]
data2 = ["shweta" , "sanjeev" , "zeba"]
data1+data2

['mohsin', 'swati', 'abhishek', 'shweta', 'sanjeev', 'zeba']

In [46]:
data3 = data1+data2

In [47]:
data3

['mohsin', 'swati', 'abhishek', 'shweta', 'sanjeev', 'zeba']

In [ ]:
# this is process is known as concatenation of list.

## Deep copy and shallow copy :-

In [ ]:
# shallow copy :- helps to make a new memory space with same elements , and if we change something in first memory space elements , it will automatically chnage in second memory space elements.This process is calles shallow copy.

In [52]:
# lets's understand with the help of example :-
name = ["mohsin" , "swati" , "abhishek" , "sanjeev"]
print(name)
print(type(name))

['mohsin', 'swati', 'abhishek', 'sanjeev']
<class 'list'>

In [53]:
# now if we use the process of shallow copy :-
good_person = name

In [54]:
# now if we check good_person :-
good_person

['mohsin', 'swati', 'abhishek', 'sanjeev']

In [55]:
name # so here we can see a new memory space 'good_person' ,  created with the same elements of memory space 'name'.

['mohsin', 'swati', 'abhishek', 'sanjeev']

In [ ]:
# now good_person and name , they both refer a same memory space . So if we change something in name , it will automatically updated in good_person memory space and vice-versa , because they both are refering the same memory space.

In [56]:
name[2]

'abhishek'

In [57]:
good_person[2]

'abhishek'

In [59]:
name[-3]

'swati'

In [61]:
good_person[-3]

'swati'

name and good_person , they also shows the same index value.

In [62]:
# now lets try to chnage something in name:-

In [63]:
name[-3] = "bheema"

In [64]:
name

['mohsin', 'bheema', 'abhishek', 'sanjeev']

In [65]:
good_person # so here we can see we changes only in name , but it automatically also updated in goo_person.

['mohsin', 'bheema', 'abhishek', 'sanjeev']

In [66]:
# now if we change something in good_person :-
good_person[1] = "simran"

In [67]:
good_person

['mohsin', 'simran', 'abhishek', 'sanjeev']

In [68]:
name # so here we can see if we change something in good_person , it will automatically , update in name also.

['mohsin', 'simran', 'abhishek', 'sanjeev']

In [ ]:
# So , this is the complete understanding of shallow copy.

In [ ]:
# Deep copy :- syntax of deep copy >> .copy() >> Return a shallow copy of the list.

In [ ]:
# Deep copy :- deep copy helps to copy the complete elements of the memory space and make another memory space with other name , and after creation , they will not have any impact on each other. if we change elements of any memory space , then it will not impact on second memory space.

In [69]:
# let's understand with example's:-

In [70]:
name = ["mohsin" , "sanjeev" , "abhishek" , "zeba" , "swati"]
print(name)
print(type(name))

['mohsin', 'sanjeev', 'abhishek', 'zeba', 'swati']
<class 'list'>

In [74]:
good_person = name.copy() # this is the deep copy process.

In [75]:
# now if we check name :-
name

['mohsin', 'sanjeev', 'abhishek', 'zeba', 'swati']

In [76]:
# if we check good_person :-
good_person # so here we can seee by the use of deep copy , we can make a copy of name memory sppace and make a refrence by good_person.

['mohsin', 'sanjeev', 'abhishek', 'zeba', 'swati']

In [80]:
# now if we change something in name , it will not give impact on good_person memory space :-
name[2] = "bheema"

In [81]:
name

['mohsin', 'sanjeev', 'bheema', 'zeba', 'swati']

In [82]:
# now chcek good_person :-
good_person # so here we can see this memory space will not change any elements.

['mohsin', 'sanjeev', 'abhishek', 'zeba', 'swati']

In [83]:
# if we change somthing in good_person :-
good_person[-2] = "shruti"

In [84]:
good_person # it will changes.

['mohsin', 'sanjeev', 'abhishek', 'shruti', 'swati']

In [85]:
name # but name cannot change anything.

['mohsin', 'sanjeev', 'bheema', 'zeba', 'swati']

In [ ]:
# so here we can see in deep copy , if we change any elements in first one , then it will not chnage anything in second one , because deep copy make a copy of memory space and make anothert memory space , thats why it will not effected by any changes.

In [ ]:
# This is the complete understanding of deep copy and shallow copy.

### membership operator in list :-

In [ ]:
# membership operator :- helps to know the purticular element is available in the list or not.
# membership operators are :-
# in
# not in

In [86]:
names = ["mohsin" , "sanjeev" , "abhishek" , "shruti" , "rahshika"] # this is a normal list , now we are going to use membership operator in this list.
"sanjeev" in names # it will give true , because 'sanjeev' element is present in the list.

True

In [87]:
"sanjeev" not in names  # it will give false , because 'sanjeev' element is  present in the list.

False

In [88]:
"simran" in names # it will give false , because 'simran' element is not present in the list.

False

In [89]:
"simran" not in names # it will give true , because 'simran' element is not present in the list.

True

In [90]:
# try with anither example :-
lis = ["mohsin" , "abhishek" , 15 , 50 , 55.55 , 60.15 , True , False, 3+60j] 
print(lis)
print(type(lis))

['mohsin', 'abhishek', 15, 50, 55.55, 60.15, True, False, (3+60j)]
<class 'list'>

In [91]:
50 in lis

True

In [93]:
51 in lis

False

In [94]:
"swati" in lis

False

In [95]:
"swati" not in lis

True

In [96]:
"mohsin" in lis

True

In [ ]:
# So this is the complete understanding of membership operator in list.

### List comprehension :-

In [97]:
# List comprehension :- it is used to make a code more concice , attractive , and easy to read.

In [98]:
# lets try to understand with examples :-
# first we try a normal process :-
data = [5 , 11 , 15 , 20 ,9 , 17] #  this is the data , and we want to double each of elements present in data.
double_data = [] # first we have to make an empty list.
for i in data:
    double_data.append(i*2)

In [99]:
double_data # this is the normal process

[10, 22, 30, 40, 18, 34]

In [100]:
# now we try with list comprehension :-
data = [5 , 11 , 15 , 20 ,9 , 17]
print([i*2 for i in data])

[10, 22, 30, 40, 18, 34]

In [ ]:
# this is the list comprehension method >> and we can see here by the using of list comprehension method , its become easy , and more readable and also looks attractive.

In [101]:
# another example by using list comprehension  :-

In [105]:
data_s = ["mk.pdf" , "ak.ipng" , "sn.ppt" , "sk.jpg" , "bp.jpeg"]
# this is a list and we want to find only all the extensions of file.

In [106]:
print([data.split(".")[-1] for data in data_s]) # so this is the beauty of list comprehension.

['pdf', 'ipng', 'ppt', 'jpg', 'jpeg']

In [108]:
# conditionals in list comprehension :-
# here we want only 'khan' sir name
names = ["mohsin khan" , "adil khan" , "faiz alam" , "menal khatoon"]
print([name for name in names if name.endswith("khan")]) # this is the use of conditional in list comprehension.

['mohsin khan', 'adil khan']

In [109]:
# another example :-
# we want mail id which are in the form of gmail.com
mail_id = ["mk@gmail.com" , "sk@gmail.com" , "aj@yahoo.com" , "sn@gmail.com" , "ar@yahoo.com" , "ak@yahoo.com"]
print([mail for mail in mail_id if mail.endswith("gmail.com")]) # this is the  the process of conditionals in list comprehension.

['mk@gmail.com', 'sk@gmail.com', 'sn@gmail.com']

In [110]:
# nested in list comprehension :-

In [112]:
# if we want pair of two numbers :-
pair = [] # empty list
print([(x,y) for x in [1,2,3] for y in [4,5,6]]) # this is the list comprehension with nested.

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [115]:
# anothe example  :-
([(x , y, z) for x in [1,2 ,3] for y in [4, 5, 6]  for z in [7,8,9]])

[(1, 4, 7),
 (1, 4, 8),
 (1, 4, 9),
 (1, 5, 7),
 (1, 5, 8),
 (1, 5, 9),
 (1, 6, 7),
 (1, 6, 8),
 (1, 6, 9),
 (2, 4, 7),
 (2, 4, 8),
 (2, 4, 9),
 (2, 5, 7),
 (2, 5, 8),
 (2, 5, 9),
 (2, 6, 7),
 (2, 6, 8),
 (2, 6, 9),
 (3, 4, 7),
 (3, 4, 8),
 (3, 4, 9),
 (3, 5, 7),
 (3, 5, 8),
 (3, 5, 9),
 (3, 6, 7),
 (3, 6, 8),
 (3, 6, 9)]

In [ ]:
# So this is the complete understanding  of list comprehension.

### Functions of list :-

In [ ]:
# function's of list :-

# There sre some functions of list :-
# 1 - .append()  # use to add an element at the end place in any list.
# 2 - .insert()  # use to insert an element at a purticular place in the list.
# 3 - .extend()  # it will helps to extend a list by another list.
# 4 - .remove()  # use to remove any purticular element of list by giving argument in the parenthesis. 
# 5 -  del()     # use to delete the complete list.
# 6 - .clear()   # use to clear the list , and make it an empty list.
# 7 - .pop()     # also helps to delete the last element if parenthesis is blank , if parenthesis have argumnet , it will delete that purticular element.
# 8 - .index()   # helps to know the index of an element >> it will always provide the first occurence of element in list.
# 9 - sorted()   # helps to sort the list in alphabetically , if all in the same uppercase or lowercase, otherwise it will prefer first uppercase.
# 10 - .sort()   # same as sorted fuction.
# 11 - .count()  # helps to count the number of any specific element in the list.
# 12 - len()     # help to known the complete length of list.

In [ ]:
# This is the complete understanding of key features in list.

## Question 3 - Describe how to access, modify and delete elements in a list with examples :-

In [ ]:
# Ans - List is a ordered collection of data , which can be accesseble and manipulated.
        # List is a hetrogenous data structure.
        # list is a mutable data structure.
        
# List have some functions by which we can access , modify and delete the elements of list are as follows :-

In [ ]:
# function's of list :-

# There sre some functions of list :-
# 1 - .append()  # use to add an element at the end place in any list.
# 2 - .insert()  # use to insert an element at a purticular place in the list.
# 3 - .extend()  # it will helps to extend a list by another list.
# 4 - .remove()  # use to remove any purticular element of list by giving argument in the parenthesis. 
# 5 -  del()     # use to delete the complete list.
# 6 - .clear()   # use to clear the list , and make it an empty list.
# 7 - .pop()     # also helps to delete the last element if parenthesis is blank , if parenthesis have argumnet , it will delete that purticular element.
# 8 - .index()   # helps to know the index of an element >> it will always provide the first occurence of element in list.
# 9 - sorted()   # helps to sort the list in alphabetically , if all in the same uppercase or lowercase, otherwise it will prefer first uppercase.
# 10 - .sort()   # same as sorted fuction.
# 11 - .count()  # helps to count the number of any specific element in the list.
# 12 - len()     # help to known the complete length of list.


## These are the functions of list by which we can do anything with the list.

### Access of elements in list :-

In [124]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"] # this is a list.
print(data)
print(type(data))

['mohsin', 'swati', 'abhishek', 15, 12, 55.55, 65.24, True, False, 'sanjeev', 'Rashika']
<class 'list'>

In [129]:
# if we want to access any elements :-
first_element  = data[2] # this is the process of accessing the elements in the list.

In [130]:
first_element

'abhishek'

In [131]:
data[2] # this is the process of accessing the elements in the list.

'abhishek'

In [126]:
data[5] # this is the process of accessing the elements in the list.

55.55

In [127]:
data[-5] # this is the process of accessing the elements in the list.

65.24

In [128]:
data[-3]

False

In [ ]:
# So , this is the complete process of accessing the data.

### Modify of element in list :-

In [132]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"] 
data[0]

'mohsin'

In [133]:
data[0] = "simran" # this is the process by which we can modify the elements in the list.

In [134]:
data

['simran',
 'swati',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika']

In [135]:
data[5]

55.55

In [136]:
data[5]="radhe" # this is the process by which we can modify the elements in the list.

In [137]:
data

['simran',
 'swati',
 'abhishek',
 15,
 12,
 'radhe',
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika']

In [138]:
data[-3] = "shruti" # this is the process by which we can modify the elements in the list.

In [139]:
data

['simran',
 'swati',
 'abhishek',
 15,
 12,
 'radhe',
 65.24,
 True,
 'shruti',
 'sanjeev',
 'Rashika']

In [140]:
data[-1]

'Rashika'

In [141]:
data[-1] = "kanpur" # this is the process by which we can modify the elements in the list.

In [142]:
data

['simran',
 'swati',
 'abhishek',
 15,
 12,
 'radhe',
 65.24,
 True,
 'shruti',
 'sanjeev',
 'kanpur']

In [1]:
# We can also use some more function in modifying element of list :-
# 1 - .append()
# 2 - .insert()
# 3 - .extend()
# 4 - sorted()
# 5 - .sort()

In [2]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"] 
print(data)
print(type(data))

['mohsin', 'swati', 'abhishek', 15, 12, 55.55, 65.24, True, False, 'sanjeev', 'Rashika']
<class 'list'>

In [3]:
# .insert() function >> let's use this function in data modification :-
# This function is used to add any element in the list at any purticular place
# syntax >> .insert() (need argument in the parenthesis).

In [4]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"] 
data.insert(2,"ayesha")

In [5]:
data

['mohsin',
 'swati',
 'ayesha',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika']

In [6]:
data.insert(-3,"ashwariya")

In [7]:
data

['mohsin',
 'swati',
 'ayesha',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 'ashwariya',
 False,
 'sanjeev',
 'Rashika']

In [ ]:
# so this function is also helpful in modification of data in list.

In [8]:
# .append() >>  this function helps to add any element at end of the list by default.

In [9]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"] 
data.append("bheema") # add this element at the end of the list.

In [10]:
data

['mohsin',
 'swati',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika',
 'bheema']

In [11]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"] 
data.append(520) # add this element at the end of the list.

In [12]:
data

['mohsin',
 'swati',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika',
 520]

In [ ]:
# this function helps to add any element at the end of the list.

In [13]:
# .extend function :- this function helps to extend a list by another list at the end place of the list.

In [14]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"] 
name = ["shweta" , "saquib" , "gaurav"] # if we want to add this list in the data list.

In [15]:
data.extend(name) # this is code which helps to extend data list by name list.

In [16]:
data # he re we can see data list will extended by the name list.

['mohsin',
 'swati',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika',
 'shweta',
 'saquib',
 'gaurav']

In [17]:
name # name list will not be chnage anything.

['shweta', 'saquib', 'gaurav']

In [18]:
data # data list is extended by name list.

['mohsin',
 'swati',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika',
 'shweta',
 'saquib',
 'gaurav']

In [ ]:
# this function helps to extend a list by another list. This is also useful in the modification of element in the list.

In [19]:
# sorted() >> it will help to make sequence of alphabetically elements in the list :-

In [22]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"] 
sorted(data) # this function will not work in diffrent types of data's.

TypeError: '<' not supported between instances of 'int' and 'str'

In [24]:
# let's understand by other example :-
name = ["mohsin" , "abhishek" , "swati" , "zeba" , "adil" , "gaurav" , "wahid" , "bheema"]
print(name)
print(type(name))

['mohsin', 'abhishek', 'swati', 'zeba', 'adil', 'gaurav', 'wahid', 'bheema']
<class 'list'>

In [26]:
sorted(name) # so here we can see this all element are arranged in alphabetically.

['abhishek', 'adil', 'bheema', 'gaurav', 'mohsin', 'swati', 'wahid', 'zeba']

In [27]:
# another type of example :-

In [28]:
names = ["Mohsin" , "Swati" , "abhishek" , "Bheema" , "sanjeev" , "adil"]

In [29]:
sorted(names)

['Bheema', 'Mohsin', 'Swati', 'abhishek', 'adil', 'sanjeev']

In [ ]:
# Here we can see if we have uppercase and lowercase mix data , then 'sorted()' function will prefer first uppercase elements and make them alphabetically , after that it will prefer to make lowercase alphabetically.

# This is the understanding of 'sorted()' function.

In [30]:
# .sort() function :- it also helps to make a sequenve alphabetically of elements of list.

In [31]:
name = ["mohsin" , "abhishek" , "swati" , "zeba" , "adil" , "gaurav" , "wahid" , "bheema"]
name.sort()

In [32]:
name # it will also make elements in alphabetically.

['abhishek', 'adil', 'bheema', 'gaurav', 'mohsin', 'swati', 'wahid', 'zeba']

In [33]:
# another example :-
names = ["Mohsin" , "Swati" , "abhishek" , "Bheema" , "sanjeev" , "adil"]
names.sort()

In [34]:
names

['Bheema', 'Mohsin', 'Swati', 'abhishek', 'adil', 'sanjeev']

In [ ]:
# Here we can see if we have uppercase and lowercase mix data , then '.sort()' function will also prefer first uppercase elements and make them alphabetically , after that it will prefer to make lowercase alphabetically , just same like 'sorted()' function.

# So this is the complete understanding of modification of elements in list.

### Delete of elements from the list :-

In [ ]:
# some function which works as a delete function in the list are:-

# 1 - .remove() 
# 2 - .pop()
# 3 - .clear
# 4 - del()
# 5 - del >> it will also used to delete a purticular element by using the following index of that element in the argument[].(example of syntax :- del data[])

In [35]:
# .remove() function :- helps to remove any purticular elements from the list.

In [36]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"] 
data.remove("abhishek") # this is the way by which we can delete any purticular element from the list.

In [37]:
data # here we can see "abhishek" is removed from the list.

['mohsin', 'swati', 15, 12, 55.55, 65.24, True, False, 'sanjeev', 'Rashika']

In [38]:
data.remove(True) # by this we can remove 'True' from the list.

In [39]:
data # here we can see 'True' is removed from the list.

['mohsin', 'swati', 15, 12, 55.55, 65.24, False, 'sanjeev', 'Rashika']

So , this is the use of .remove() function in list.

In [40]:
# .pop() function >> it will also delete elements from the list.
# if we use .pop() function without argument , then it will remove the last element of the list by default.
# and if we use .pop() functiom with argument , then it will delete that purticular element from the list.
# .pop() function takes only number of index as argument , else it will through error.

In [41]:
# if we use .pop() function , without argument :-
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
data.pop() # so here we can see if we did not give any argument , then it will automaticall remove the last element of the list by default.

'Rashika'

In [42]:
data # it removes the last element of the list automatically.

['mohsin', 'swati', 'abhishek', 15, 12, 55.55, 65.24, True, False, 'sanjeev']

In [43]:
# now lets try again :-
data.pop() # so here we can see if we did not give any argument , then it will automaticall remove the last element of the list by default.

'sanjeev'

In [44]:
data # now here at this time 'sanjeev' is the last element of list ,it removes the last element of the list automatically.

['mohsin', 'swati', 'abhishek', 15, 12, 55.55, 65.24, True, False]

In [ ]:
# this is the use of .pop() function without arguments.

In [45]:
# .pop() function with argument :- if we use .pop function with argument , then it will delete that specific element of the list:-

In [46]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
data.pop(3) # so here we give an argument to remove the value of 3rd index.

15

In [47]:
data # here we can see it removes the 3rd index value.

['mohsin',
 'swati',
 'abhishek',
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika']

In [50]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
data.pop(-3) # here we give argument to remove the value of -3rd index.

False

In [51]:
data

['mohsin',
 'swati',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 'sanjeev',
 'Rashika']

In [ ]:
# So , this is the complete understanding of .pop() function.

In [52]:
# .clear() function :- it helps to clear the elements of the list and convert into empty list.

In [53]:
# example :-
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
data.clear() # this is the peocess to clear the elements of list.

In [54]:
data # here we can see all the elements are cleared and this list converted into empty list.

[]

In [55]:
names = ["Mohsin" , "Swati" , "abhishek" , "Bheema" , "sanjeev" , "adil"]
names.clear()

In [56]:
names

[]

In [ ]:
# This is the understanding of .clear() function in list.

In [57]:
# del() function :- it will helps to delete the complete list.

In [58]:
# example :-
names = ["Mohsin" , "Swati" , "abhishek" , "Bheema" , "sanjeev" , "adil"]
del(names) # this is the process by which we can delete the complete list at one short.

In [59]:
names # we can see here complete list is deleted , that why here error occuring.

NameError: name 'names' is not defined

In [60]:
# other example :-
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
del(data)

In [61]:
data # we can see here complete list is deleted , that why here error occuring.

NameError: name 'data' is not defined

In [85]:
# we can also use 'del()' function like this :-
# we can also use del() function for deleting any purticular element by providing the following index in the argument:-
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
del data[3]

In [86]:
data # so here we can see index 3rd which is 15 is now deleted from the list.

['mohsin',
 'swati',
 'abhishek',
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika']

In [87]:
del data[-2]

In [88]:
data # so here we can see index -2nd which is 'sanjeev' is now deleted from the list.

['mohsin', 'swati', 'abhishek', 12, 55.55, 65.24, True, False, 'Rashika']

In [ ]:
# so this is use of complete del() function in list.

In [ ]:
# So , this is the complete method of deleting any element , or any purticular element , or complete elements of list , or the complete list.

In [ ]:
### Some more elements used in list :- >> these elements also helps in modifying or sub-help in modifying the eleemnts in the list :-

# 1 - .index()
# 2 - .count()
# 3 - len()

# example  :- like we have uses .index() function in the .pop().

In [63]:
# .index() function :- it helps to know the index of element in the list :-

In [65]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
data.index("abhishek") # it will provide that purticular element index number present in the list.

2

In [67]:
data.index(65.24) # it will provide that purticular element index number present in the list.

6

In [69]:
data.index("swati") #it will provide that purticular element index number present in the list.

1

In [ ]:
# this is the process of indexing , means by this function we can get that purticular element index position in the list.
# we have to give element in the argument with the .index() function , and then we can know the exact position of that purticular element in the list.

In [70]:
# .count function :- it helps to know,  how many times an element present in the list :- 
# Return number of occurrences of value.

In [71]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , "mohsin" , True , False , "sanjeev" , "Rashika" , "swati" , "mohsin" , "swati"]
data.count("sanjeev") # so element 'sanjeev' occurce single time in the list.

1

In [72]:
data.count("swati") # so element 'swati' occurce three time in the list.

3

In [73]:
data.count("mohsin") # so element 'mohsin' also occurce three time in the list.

3

In [ ]:
# So this is the complete process of .count() function . By this we can know the times of occurence of any purticular element in the list.

In [74]:
# len function :- it helps to know the total lenght of the list. Syntax of length >> len()
# we can also say that total number of elements = length of the list.

In [75]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , "mohsin" , True , False , "sanjeev" , "Rashika" , "swati" , "mohsin" , "swati"]
len(data) # here we can see the total element in the list is 14, that's why length of this list is 14.

14

In [76]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
len(data)  # here we can see the total element in the list is 11, that's why length of this list is 11.

11

In [77]:
names = ["Mohsin" , "Swati" , "abhishek" , "Bheema" , "sanjeev" , "adil"]
len(names)   # here we can see the total element in the list is 6, that's why length of this list is 6.

6

In [ ]:
# So , this is the complete understanding of accessing , modification and deleting of elements in the list.

## Question 4 - Compare and contrast tuples and list with examples :-

In [ ]:
# Ans - The complete compare and contrast of tuple and list with examples are given below in deep :-

In [ ]:
      # List :- # List is an ordered collection of data.
              # List is mutable data structure.
              # List is hetrogenous data structure.
              # syntax of list :- [] sqaure bracket.
              # we can add , remove , insert, or extend a list.
              # list is accessible and can be manipulated easily.
              # list are unhashable data structure.(means dont't have stable memory block address)
              # list in list is also possible.

In [ ]:
# we can also manipulate the data :-

In [10]:
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
data[5]

55.55

In [11]:
data[5] = "narnia"

In [12]:
data # we can see here we can change the value of 5th index.

['mohsin',
 'swati',
 'abhishek',
 15,
 12,
 'narnia',
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika']

In [1]:
# examples :-
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
data.append("radhelal")

In [2]:
data # so here we can see , we can add element in the list.

['mohsin',
 'swati',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika',
 'radhelal']

In [3]:
# we can also insert any element at any specific place in the list :-
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
data.insert(3,"haldiram")

In [4]:
data # so haldiram added at specific place in the list.

['mohsin',
 'swati',
 'abhishek',
 'haldiram',
 15,
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika']

In [5]:
# we can also remove any data from the list:-
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
data.remove("swati")

In [6]:
data # it will remove swati element from the list.

['mohsin', 'abhishek', 15, 12, 55.55, 65.24, True, False, 'sanjeev', 'Rashika']

In [7]:
# we can also extend a list by another list :-
data = ["mohsin" , "swati" , "abhishek" , 15 , 12 , 55.55 , 65.24 , True , False , "sanjeev" , "Rashika"]
lis1 = ["mohini" , "lala" , 15 , 25 ]

In [8]:
data.extend(lis1)

In [9]:
data # so data list is extended by lis1 list.

['mohsin',
 'swati',
 'abhishek',
 15,
 12,
 55.55,
 65.24,
 True,
 False,
 'sanjeev',
 'Rashika',
 'mohini',
 'lala',
 15,
 25]

In [ ]:
# There are so many functions in list by which we can manipulate data of list.

### Tuples:-

In [ ]:
# Tuples :- # Tuples is also an ordered collecetion of fixed elements , which cannot be remove or replace.
          # Tuples is immutable data structure.
          # tuples is also a hetrogenous data structure.
          # syntax of tuples :- () parenthesis.
          # We cannot add , remove or extend elements in tuples.
          # tuples are accessible but cannot be manipulated.
          # tuples are hashable data structure.(means tuples have stable memory block address)
          # in tuples we can get access of index , and can know about the times occurenece of an element in the list.
          # tuples in tuples is possible.

In [14]:
# presentation of tuples :-

data = ("mohsin" , "swati" , "zeba", 15 , 25 , 25.25 , True , False) # this is a tuple.
print(data)
print(type(data)) # so its proved that tuples are also a hetrogenous data structure.

('mohsin', 'swati', 'zeba', 15, 25, 25.25, True, False)
<class 'tuple'>

In [15]:
# let's try to access the tuple :-
data = ("mohsin" , "swati" , "zeba", 15 , 25 , 25.25 , True , False)
data[2]

'zeba'

In [16]:
data[5]

25.25

In [17]:
data[-3]

25.25

In [ ]:
# so , its proved that tuples can be accesseble.

In [18]:
# now lets try to manipulate the data :-

In [19]:
data = ("mohsin" , "swati" , "zeba", 15 , 25 , 25.25 , True , False)
data[-2]

True

In [20]:
data[-2] = "mohsin" # we get error that tuple does not support item assignment , because tuple are immutable , they cannot be manipulated by anyways.

TypeError: 'tuple' object does not support item assignment

In [ ]:
# so , its proved that tuples are immutable.

In [ ]:
# some function of tuples :-

# .index()   # helps to know the place of an element in the tuple.
# .count()   # helps to know the number of occurence of a element present in the tuple.
#  max()     # helps to know the maximum value of element in the tuples.
#  min()     # helps to knoe the minimum value of element in the tuples.
#  len()     # helps to know the complete length of tuple.
#  del()     # helps to delete the complete tuple.
#  concatenation  # helps to add two tuple and make a new tuple.

In [22]:
# example :-
data = ("mohsin" , "swati" , "zeba", 15 , 25 , 25.25 , True , False)
data.index("swati")

1

In [23]:
data.index(15)

3

In [ ]:
# by this process we can know the index of elements in the tuples.

In [24]:
data = ("mohsin" , "swati" , "zeba", 15 , 25 , 25.25 , True , False, "mohsin" , "swati" , "mohsin" , "swati" , 15 ,)
data.count("mohsin")

3

In [25]:
data.count("swati")

3

In [26]:
data.count(15)

2

In [ ]:
# so this is the process by which we can get the count of an element in the tuple.

In [28]:
num = (15 , 25 ,12 , 45 , 80 , 45 , 15 , 100 , 147 , 10)
max(num)

147

In [29]:
min(num)

10

In [ ]:
# this are the process by which we can know the maximum and minimum value elements in the tuple.

In [30]:
data = ("mohsin" , "swati" , "zeba", 15 , 25 , 25.25 , True , False)
len(data)

8

In [31]:
num = (15 , 25 ,12 , 45 , 80 , 45 , 15 , 100 , 147 , 10)
len(num)

10

In [ ]:
# so this is the use of len function in tuple , by this we can get the total length of any tuple.

In [33]:
num = (15 , 25 ,12 , 45 , 80 , 45 , 15 , 100 , 147 , 10)
del(num)

In [34]:
num # here we can see num list is deleted , that's why error come.

NameError: name 'num' is not defined

In [35]:
data = ("mohsin" , "swati" , "zeba", 15 , 25 , 25.25 , True , False)
del(data)

In [36]:
data # here we can see data list is deleted , that's why error come.

NameError: name 'data' is not defined

### Comparing and contrasting :-

In [ ]:
# List :-

# 1 - List is a ordered collection of data.
# 2 - List is a mutable data structure.
# 3 - List is a hetrogenous data structure.
# 4 - Syntax of list = [] square bracket.
# 5 - In list we can add , remove , insert , and so many diffrent modification can be done by using its function.
# 6 - In list we can also extend a list by another list.
# 7 - list in list is possibel.
# 8 - List can be modify after the creation of list.
# 9 - List are Unhashable type data structure. It means list have not fixed memory block address.
# 10 - List consume more memory.
# 11 - We can do slicing in list.

# Tuple:-

# 1 - Tuple is also an ordered collection of fixexd elements , which cannot be manipulated.
# 2 - Tuples are immutable.
# 3 - Tuples are also a hetrogenous data structure.
# 4 - Syntax of tuple = () parenthesis.
# 5 - In tuple we cannnot do any type of modication , after the creation of tuple.
# 6 - Tuples in tuples also possible.
# 7 - Tuples only can be accesseble.
# 8 - Tuples only explain about indexing , counting and delete functions in the tuples, some more functions also have tuples (like min() , max()).
# 9 - Tuples are Hasahable type data structure. It means tuples are fixed memory block address.
# 10 - Tuples consume less memory.
# 11 - we can do slicing in tuples.

## Question 5 - Describe the key features of sets and provide examples of their use.

In [ ]:
# Ans - Sets :- Set is an unordered collection of unique elements.
            # Set never duplicate the elements ,  because set is a collection of unique data.
            # Set is a mutable data structure.
            # Set is a mutable data structure , but we cannot access the elements of sets , it means indexing process is not available in set.
            # But we can manipulate the elements of sets by the use of function's of sets.
            # Set is a hetrogenous data structure.
            # Set is a Unhashable type data structure ,but set require hashable elements only.
            # Set in Set is not possible (unhashable data type error occurs.)
            # Sets only requre Hashable type data srtucture (string , tuples only) ,  it means sets can have string and tuples in set. 
            # Syntax of set = {} curly bracket.

In [ ]:
# Key features of sets:-

# Set is an unordered collection of unique elements.
# Set never duplicate the elements ,  because set is a collection of unique data.
# Set is a mutable data structure.
# Set is a mutable data structure , but we cannot access the elements of sets , it means indexing process is not available in set.
# But we can manipulate the elements of sets by the use of function's of sets.
# Set is a hetrogenous data structure.
# Set is a Unhashable type data structure ,but set require hashable elements only.
# Set in Set is not possible (unhashable data type error occurs.)
# Sets only require Hashable type data srtucture (string , tuples only) ,  it means sets can have string and tuples in set. 
# Syntax of set = {} curly bracket.

In [37]:
# Examples of features of sets :-

In [39]:
# presentation of sets and syntax of sets :-
sets = {1,2}
type(sets)

set

In [40]:
# Set is unordered collection of unique elements:-
data = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False} # this is a data.
print(data)
print(type(data))

{False, True, 80.25, 'mohsin', 'rashika', 15}
<class 'set'>

In [44]:
sets = {15 , 25 , "mohsin" , "raj" , 25.25, 15 , 25 , "mohsin" , "raj"}
sets # so here we can see , sets automatically deleted the duplication of elements.

{15, 25, 25.25, 'mohsin', 'raj'}

In [ ]:
# So , by this example , we can understand that set is unordered , because we can see there is no order in the result, randomly any element comes first and any elements can go to last or any place , so there is no fixed index of any elements in the sets , that's why we say sets are unordered collection of data.
# And this is the reason , by which we cannot access or get index of any elements in sets , because of its unordered behaviour.

# And here we can also see that , sets is a collection of unique elements , sets not duplicate the elements, it's delete the duplication of elements automatically , this is also a reason for not indexing in the sets.

In [45]:
# Set never duplicate the elements ,  because set is a collection of unique data.

In [46]:
# example :
name = {"mohsin" , "abhishek" , "mohsin" , "abhishek" , "swati" , "swati" , "zeba" , "swati" , "zeba"}
print(name)
print(type(name))

{'swati', 'mohsin', 'zeba', 'abhishek'}
<class 'set'>

In [ ]:
# so , here we can see , sets not duplicate the elements , it will automatically delete the duplication of elements.

In [47]:
# Set is a hetrogenous data structure.
# example :-
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
print(sets)
print(type(sets))

{False, True, 80.25, 'mohsin', (3+5j), 'rashika', 15}
<class 'set'>

In [ ]:
# so its proved , sets is a hetrogenous types data structure , it can contain any type of data.

In [49]:
# Set is a Unhashable type data structure ,but set require hashable elements only
sets = {15 , 16 ,"mohsin" , "swati" , [15 , 18 , "abhishek"]}
print(sets) # here we get error , because set is a unhashable data , but ste only contain hashable data , and list is a unhashable data , that's why we get error.

TypeError: unhashable type: 'list'

In [51]:
sets = {"mohsin" , "abhishek" , {"raj" , 15 , 25 , 16}}
print(sets)

TypeError: unhashable type: 'set'

In [ ]:
# Set cannot have mutable data structure in set , because of unhashable type data structure (list , set , dictionary) ,  set can have only immutable data structure (string , numbers , tuples) because they have hashable type data structure.

# So , sets only require hashable data (string , tuples), its proved.

# Sets in set is not possible , proved.

In [52]:
# Lets try to access the elements of sets :-
# example :-

In [53]:
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
print(sets)
print(type(sets))

{False, True, 80.25, 'mohsin', (3+5j), 'rashika', 15}
<class 'set'>

In [54]:
sets[2] # so we cannot access the index of elements in the sets. Erros occur's (set object is not subscriptable.)

TypeError: 'set' object is not subscriptable

In [55]:
sets[-2]

TypeError: 'set' object is not subscriptable

In [56]:
sets[5]

TypeError: 'set' object is not subscriptable

In [57]:
sets[-5]

TypeError: 'set' object is not subscriptable

In [ ]:
# so , these examples proved that , sets cannot be accesseble.

In [58]:
# Mutability of sets :- sets can be manipulated by the using of its functions.

In [ ]:
# Functions of sets:-

# 1 - set() >> helps to convert list into sets.
# 2 - list() >> helps to convert sets into list.
# 3 - .add() >> helps to add any elements at any place randomly.
# 4 - .remove() >> helps to remove that purticular elements which is given in thr parenthesis.
# 5 - .pop() >> helps to remove any elements randomly , because we cannot use index in sets.
# 6 - del() >> helps to delete the complete stes.
# 7 - .clear() >> helps to remove or clear all the elements from the sets.
# 8 - .discard() >> helps to remove the elements from the stes , and if that element is not present in the sets , then it will not give error.
# 9 - .update() >> helps to update any elements in the sets .

# These are the complete functions which are used in the sets.
# By the use of this function , we can manipulate or modify the elements of sets.

In [59]:
# example :-
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
print(sets)
print(type(set))

{False, True, 80.25, 'mohsin', (3+5j), 'rashika', 15}
<class 'type'>

In [60]:
# use of '.add' function :- Add an element to a set.

sets.add("radhika")

In [61]:
sets # here we can see 'radikha' element is added now in the sets.

{(3+5j), 15, 80.25, False, True, 'mohsin', 'radhika', 'rashika'}

In [63]:
sets.add(15)

In [66]:
sets # here we can see '15' elements now added in the sets.

{(3+5j), 15, 80.25, False, True, 'mohsin', 'radhika', 'rashika'}

In [64]:
# use of .update() function :-  Update a set with the union of itself and others.
sets.update([15])  # this is the method to use .update function.

In [65]:
sets

{(3+5j), 15, 80.25, False, True, 'mohsin', 'radhika', 'rashika'}

In [67]:
sets.update(["ajay"])

In [68]:
sets # this is the method to update any elements in the stes.

{(3+5j), 15, 80.25, False, True, 'ajay', 'mohsin', 'radhika', 'rashika'}

In [69]:
# if we dont use list form with .update update , then it will becoma unordered :-
# example :-
sets.update("ajay")

In [70]:
sets # so element 'ajay' is updated in sets , but in unordered form, that's why we have to use list form rith update function.

{(3+5j),
 15,
 80.25,
 False,
 True,
 'a',
 'ajay',
 'j',
 'mohsin',
 'radhika',
 'rashika',
 'y'}

In [71]:
# we can also change a list in sets by using set function :-
lis = [1 , 50 , "mohsin", "mohsin" ,"swati" ,"swati"]
print(lis)
print(type(lis)) # we can see here this is a list.

[1, 50, 'mohsin', 'mohsin', 'swati', 'swati']
<class 'list'>

In [72]:
# now if we want to convert this list in set from then :-
set(lis) # so now by the use of this function we can change set in list .

{1, 50, 'mohsin', 'swati'}

In [98]:
# we can also convert sets into list :-
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
print(sets)
print(type(sets))

{False, True, 80.25, 'mohsin', (3+5j), 'rashika', 15}
<class 'set'>

In [99]:
list(sets) # so here we can see , we can also change a sets in to list.

[False, True, 80.25, 'mohsin', (3+5j), 'rashika', 15]

In [73]:
# use of .remove function :- helps to remove any purticular elements from the sets :- Remove an element from a set; it must be a member.

In [74]:
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
sets.remove(15)

In [75]:
sets # so we can see here , by the use of , .remove function , we can remove any purticular elements from the stes.

{(3+5j), 80.25, False, True, 'mohsin', 'rashika'}

In [76]:
sets.remove("mohsin")

In [77]:
sets

{(3+5j), 80.25, False, True, 'rashika'}

In [ ]:
# this is the process of using .remove function.

In [78]:
# if we use .remove() function with an element which is not present in the sets :-

In [79]:
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
sets.remove("swati") # so here we can see 'swati' element is not present in the sets.

KeyError: 'swati'

In [80]:
sets.remove("abhishek")

KeyError: 'abhishek'

In [81]:
sets.remove(71)

KeyError: 71

In [ ]:
# So at this situation , when elements is not present in the sets , and we use .remove() function , then it will occur an error (keyerror >> means this element is not present in the set).

# so at this situation we use .discard() function.

In [82]:
# .discard() function :- Remove an element from a set if it is a member.
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
sets.discard("rashika") # it will remove the 'rashika' elements from the sets.

In [83]:
sets

{(3+5j), 15, 80.25, False, True, 'mohsin'}

In [84]:
sets.discard("mohsin")

In [85]:
sets

{(3+5j), 15, 80.25, False, True}

In [86]:
sets.discard("lala") # it will not give any error  , while element is not a member of sets.

In [87]:
sets

{(3+5j), 15, 80.25, False, True}

In [ ]:
# so , here we see .discard() function is used for removing any purticular elements from the sets , but it will not give any error like .remove function if that element is not a member of sets.

In [88]:
# .pop() function :- Remove and return an arbitrary set element. Raises KeyError if the set is empty.

In [89]:
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
sets.pop() # so here we can see .pop() function randomly delete any element from the sets.

False

In [90]:
sets

{(3+5j), 15, 80.25, True, 'mohsin', 'rashika'}

In [91]:
sets.pop(5) # we cannot give any argument , because indexing not possible in the sets , .pop() function only take indexes as argument.

TypeError: set.pop() takes no arguments (1 given)

In [92]:
sets.pop("swati")

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
# so , we can see here .pop() function can remove any elements from the set randomly.

In [93]:
# .clear() function :- Remove all elements from this set.
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
sets.clear() # it makes the complete sets empty by removing all the elements of sets.

In [94]:
sets

set()

In [96]:
# del() function :- it will delete the complete sets.
sets = {"mohsin" , "rashika" , "mohsin" , "rashika" , "mohsin" , 15 , 80.25 , 15 , True , True , 80.25,False ,80.25,False , 3+5j}
del(sets)

In [97]:
sets # it will delete the complete sets.

NameError: name 'sets' is not defined

In [ ]:
# So these are the some function's which are used in sets for modifying or we can say for manipulating the sets.
# so sets are mutable , it's proved.

### Some operations of sets are :-

In [ ]:
# Sets have four operations are :-

# 1 - Union          # syntax of union operation = | (symbol of 'or' bitwise operator)
# 2 - Intersection   # syntax of intersection    = & ( symbol of and)
# 3 - Diffrence      # syntax of diffrence       = - (negative sign) 
# 4 - Symmetric      # syntax of symmetric       = ^ (symbol of hat or cap)

In [100]:
# Union operation :- means combines elements from two sets excluding duplicate.
# example  :-
A = {"mohsin","abhishek" , "swati" , 15 ,25.25 , True , False}
B = {"swati" , "mohsin" , "rashika" , "bheema" , 15 ,20 , 32.25 , False} 
# these sre two sets.

In [101]:
A|B # it means , we are going to find A union B.

{15,
 20,
 25.25,
 32.25,
 False,
 True,
 'abhishek',
 'bheema',
 'mohsin',
 'rashika',
 'swati'}

In [102]:
# Intersection operatin :- means common element between two sets. :-
A&B # it means , we want common elements of both sets.

{15, False, 'mohsin', 'swati'}

In [103]:
# Diffrenec operation :- only element of first set , exclude the element of second set.
A-B # this the way to get the diffrence b/w two sets.

{25.25, True, 'abhishek'}

In [104]:
# Symmetric operations :- all elements from both the sets , exclude the common elements of both sets.
A^B

{20, 25.25, 32.25, True, 'abhishek', 'bheema', 'rashika'}

In [ ]:
# So , this is the complete understanding of sets.

## Frozen sets:-

In [ ]:
# frozen sets :- Frozen set is a immutable version of set .
# syntax of frozen set = frozenset({}) # curly bracket in parenthesis . here parenthesis defines immutability of set.

In [108]:
employees_id = (["mohsin" , "swati" , "abhishek" , "sanjeev" , "gaurav" , "bheema"]) # this is a normal list in tuple.
# this list is in the tuple , because set can have only hashable type data , that's why we always put list in tuple , if we want  frozenset.
# if we want to convert this list in frozen set.

In [116]:
frozen_employee_id = frozenset(["mohsin" , "swati" , "abhishek" , "sanjeev" , "gaurav" , "bheema"])

In [117]:
frozen_employee_id

frozenset({'abhishek', 'bheema', 'gaurav', 'mohsin', 'sanjeev', 'swati'})

In [118]:
type(frozen_employee_id)

frozenset

In [119]:
# another example :-
sets = ([1,2,3,4,5])
print(type(sets)) # so this is a list.

<class 'list'>

In [122]:
my_frozenset = frozenset([1,2,3,4,5])

In [123]:
my_frozenset

frozenset({1, 2, 3, 4, 5})

In [124]:
type(my_frozenset)

frozenset

In [125]:
# another example :-
sets = frozenset([1,2,3,4])

In [126]:
sets

frozenset({1, 2, 3, 4})

In [127]:
type(sets)

frozenset

In [ ]:
# So this is the complete process of frozen set.

In [ ]:
# This is the complete understanding of sets and frozensets.

## Question 6 - Discuss the use cases of tuples and sets in python programming.

In [ ]:
# Ans - # Use case of tuples :- Tuples have many use cases :-
                            # Tuples used for maintaning the data , which can not be modify after creation like (employee id , aadhar card , pan card etc.)
                            # Tuples are immutable. It helps to safe the elements by changing which present in the tuples.
                            # tuples are hetrogenous in nature. (can have any type of data)
                            # tuples are hashable type data structure.
                            # tuples can also have tuples in tuples.
                            # concatenation in tuples.
                            # tuples have membership checking operator.
                            # slicing of tuple.

In [128]:
# example :-
data = ("mohsin" , "swati" , "abhishek" , 45 , 12 , 22.25 , True , False) # this is a tuple.
type(data)

tuple

In [129]:
# so if we want to change any elemens from this tuple :-
data = ("mohsin" , "swati" , "abhishek" , 45 , 12 , 22.25 , True , False)
data[1]

'swati'

In [130]:
data[1] = "zeba" # it cannot be changed, this is the use case of tuple.

TypeError: 'tuple' object does not support item assignment

In [131]:
data[-1]

False

In [132]:
data[-1]=True

TypeError: 'tuple' object does not support item assignment

In [ ]:
#example :-
employees_id = ("mk258" , "ak568" , "sn7865" , "ry1235") # so these are some employees id.

In [134]:
employees_id.add("ak258") # it will give error , because we cannot add anything in the tuple,

AttributeError: 'list' object has no attribute 'add'

In [136]:
employees_id.remove("ak568") # it will give error, because we cannot remove anything in the tuple.

ValueError: list.remove(x): x not in list

In [137]:
employees_id.update("mohsin") #  it will give error, because we cannot update anything in the tuple.

AttributeError: 'list' object has no attribute 'update'

In [ ]:
# some usefull functions of tuple are :-

In [142]:
employees_id = ("mk258" , "ak568" , "sn7865" , "ry1235" , "mk258")
type(employees_id)

tuple

In [141]:
employees_id.index("ak568") # so by the use of this index we can know the index of an element in the tuples.

1

In [143]:
employees_id.count("ak568")

1

In [144]:
employees_id.count("mk258") # this function helps to know the number of occurence of elements in tuple.

2

In [145]:
max(employees_id) # this help to know the biggest number in the tuple.

'sn7865'

In [146]:
min(employees_id) # helps to know the smaller number in the tuple.

'ak568'

In [147]:
len(employees_id) # helps to know the complete length os the tuple.

5

In [ ]:
# slicing of tuples :-

In [170]:
data = ("mohsin" , "swati" , "abhishek" , 45 , 12 , 22.25 , True , False)

In [171]:
data[::]

('mohsin', 'swati', 'abhishek', 45, 12, 22.25, True, False)

In [172]:
data[0:]

('mohsin', 'swati', 'abhishek', 45, 12, 22.25, True, False)

In [173]:
data[2:5]

('abhishek', 45, 12)

In [174]:
data[2:-5]

('abhishek',)

In [177]:
data[2:6:2]

('abhishek', 12)

In [178]:
data[::-1] # reverse the complete tuple.

(False, True, 22.25, 12, 45, 'abhishek', 'swati', 'mohsin')

In [ ]:
# So this is the complete process of slicing / extracting of tuple.

In [148]:
# Repeating operators in tuple :- repeating operator helpd to print  repeatedly till the condition is satisfied. 
employees_id*3 # it will repeat and print again and gain to the  3 times, complete tuple.

('mk258',
 'ak568',
 'sn7865',
 'ry1235',
 'mk258',
 'mk258',
 'ak568',
 'sn7865',
 'ry1235',
 'mk258',
 'mk258',
 'ak568',
 'sn7865',
 'ry1235',
 'mk258')

In [149]:
employees_id*5 # then it will print 5times complete tuple.

('mk258',
 'ak568',
 'sn7865',
 'ry1235',
 'mk258',
 'mk258',
 'ak568',
 'sn7865',
 'ry1235',
 'mk258',
 'mk258',
 'ak568',
 'sn7865',
 'ry1235',
 'mk258',
 'mk258',
 'ak568',
 'sn7865',
 'ry1235',
 'mk258',
 'mk258',
 'ak568',
 'sn7865',
 'ry1235',
 'mk258')

In [150]:
# tuples in tuples :-
#ex :-
name = ("mohsin" , "swati" , "abhishek" , "sanjeev")
age = (27 , 29 , 28 , 30)
name_age = ((name) , (age)) # so this method is called tuples in tuple.

In [151]:
name_age

(('mohsin', 'swati', 'abhishek', 'sanjeev'), (27, 29, 28, 30))

In [154]:
# another example :-
name1 = ("mohsin" , "swati" , "sanjeev" , "abhishek" , "ajay")
name2 = ("bheema" , "gaurav" , "wahid" , "sasa")
names = (name1,name2)

In [155]:
names

(('mohsin', 'swati', 'sanjeev', 'abhishek', 'ajay'),
 ('bheema', 'gaurav', 'wahid', 'sasa'))

In [156]:
# iteration by using for loop :-
for name in names:
    for item in name:
        print(item)

mohsin
swati
sanjeev
abhishek
ajay
bheema
gaurav
wahid
sasa

In [ ]:
# This is the process of iteration in tuple.

In [157]:
# concatenation in tuple :-
name1 = ("mohsin" , "swati" , "sanjeev" , "abhishek" , "ajay")
name2 = ("bheema" , "gaurav" , "wahid" , "sasa")
names = name1+name2

In [158]:
names # so this process is called concatenation of tuples.

('mohsin',
 'swati',
 'sanjeev',
 'abhishek',
 'ajay',
 'bheema',
 'gaurav',
 'wahid',
 'sasa')

In [ ]:
# membership operator in tuples :- (in , not in)

In [159]:
name1 = ("mohsin" , "swati" , "sanjeev" , "abhishek" , "ajay")
"swati" in name1

True

In [160]:
"swati" not in name1

False

In [163]:
"rashika" in name1

False

In [162]:
"rashika" not in name1

True

In [ ]:
# So this is the use of membership operator , by which we can check any element availability in the tuple. It is used to check that element is present in the tuple or not.

In [ ]:
# So , here we can see that , tuples are immutable and they are hetrogenous in nature , and they are hashable type data structure , that's why tuple is safe and secure for the elements which we want to not change at any cost.
# it's make tuple important.

### Use case of sets in python programming :-

In [ ]:
# Use case of sets :-  # sets are unordered collection of unique elements.
                       # sets remove duplications automatically.
                       # sets are mutable.
                       # sets  cannot be accesseble.
                       # sets are hetrogenous data type structure.
                       # sets are unhashable type data , but contain only hashable type data.
                       # sets also used membership operator to check the membership of elements.
                       # iterable by using for loop
                       # sets have set operation (union , intersection , diffrence , symmetric).
                       # sets also have a diffrent special immutable set called as frozenset (frozenset({})).
                       # syntax of set = {} curly bracket.

In [164]:
# Lets's discuss with examples :-

In [165]:
sets = {1,2}
type(sets)

set

In [181]:
data = {"mohsin" , "swati" , "rashika" , "swati" , "rashika" , "mohsin" , "swati" , 50.55,15,60,15,50.55,15,True, False , False , "mohsin" , True}
print(data)
print(type(data))

{'swati', True, False, 15, 'mohsin', 50.55, 'rashika', 60}
<class 'set'>

In [ ]:
# so , here we can see , remove the duplicate element from the set so it menas ,set remove duplications automatically.
# and it will remove the duplicate elements , hence it is proved that set is a unique collection of data.
# and we can also see there is no order follow in the sets , that's why it's also proved that set is in umordered form.
# here we can also see , that set is hetrogenous data structure.

In [167]:
data[3]

TypeError: 'set' object is not subscriptable

In [182]:
data[-3]

TypeError: 'set' object is not subscriptable

In [ ]:
# It means we cannot access the element in the set. proved

In [183]:
# set is mutable :- by the use of its function :-

In [ ]:
# Functions os sets :-

# 1 - set() >> helps to convert list into sets.
# 2 - list() >> helps to convert sets into list.
# 3 - .add() >> helps to add any elements at any place randomly.
# 4 - .remove() >> helps to remove that purticular elements which is given in thr parenthesis.
# 5 - .pop() >> helps to remove any elements randomly , because we cannot use index in sets.
# 6 - del() >> helps to delete the complete stes.
# 7 - .clear() >> helps to remove or clear all the elements from the sets.
# 8 - .discard() >> helps to remove the elements from the stes , and if that element is not present in the sets , then it will not give error.
# 9 - .update() >> helps to update any elements in the sets .

# These are the complete functions which are used in the sets.
# By the use of this function , we can manipulate or modify the elements of sets.

In [184]:
data = {"mohsin" , "swati" , "rashika" , "swati" , "rashika" , "mohsin" , "swati" , 50.55,15,60,15,50.55,15,True, False , False , "mohsin" , True}
print(data)
print(type(data))

{'swati', True, False, 15, 'mohsin', 50.55, 'rashika', 60}
<class 'set'>

In [185]:
data.add("ridhi") # it will add a new element in the set.

In [186]:
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika', 'ridhi', 'swati'}

In [187]:
data.update(["ridhima"]) # it will update a new element in the set.

In [188]:
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika', 'ridhi', 'ridhima', 'swati'}

In [189]:
data.remove("rashika") # it will remove a purticular data in set.

In [190]:
data

{15, 50.55, 60, False, True, 'mohsin', 'ridhi', 'ridhima', 'swati'}

In [191]:
data.pop() # it will remove randomly any data in set.

'swati'

In [192]:
data

{15, 50.55, 60, False, True, 'mohsin', 'ridhi', 'ridhima'}

In [193]:
data.clear() # it will clear the all elements of the sets and make an empty set.

In [194]:
data

set()

In [195]:
data = {"mohsin" , "swati" , "rashika" , "swati" , "rashika" , "mohsin" , "swati" , 50.55,15,60,15,50.55,15,True, False , False , "mohsin" , True}
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika', 'swati'}

In [ ]:
del data # it will delete  complete set permannently.

In [197]:
data

NameError: name 'data' is not defined

In [198]:
data = {"mohsin" , "swati" , "rashika" , "swati" , "rashika" , "mohsin" , "swati" , 50.55,15,60,15,50.55,15,True, False , False , "mohsin" , True}
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika', 'swati'}

In [199]:
data.discard("swati") # helps to delete any purticular element from the set.

In [200]:
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika'}

In [201]:
data.discard("lucknow") # if element is not present , then it will not gic=ve error, while remove function gives keyerror.

In [202]:
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika'}

In [203]:
# we can also convert a list into set and a set into list :-

In [204]:
data = {"mohsin" , "swati" , "rashika" , "swati" , "rashika" , "mohsin" , "swati" , 50.55,15,60,15,50.55,15,True, False , False , "mohsin" , True}
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika', 'swati'}

In [205]:
list(data) # it will convert set in list.

['swati', True, False, 15, 'mohsin', 50.55, 'rashika', 60]

In [206]:
set(data) # it will convert list in set.

{15, 50.55, 60, False, True, 'mohsin', 'rashika', 'swati'}

In [ ]:
# So , these are the functions of set , by which we can manipulate or we can say modifiy the elements of set.
# so , set is mutable , its proved.

In [207]:
# membership operator in set :- (in , not in)
data = {"mohsin" , "swati" , "rashika" , "swati" , "rashika" , "mohsin" , "swati" , 50.55,15,60,15,50.55,15,True, False , False , "mohsin" , True}
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika', 'swati'}

In [208]:
True in data

True

In [209]:
"swati" in data

True

In [211]:
"lucknow" in data

False

In [212]:
"delhi" in data

False

In [ ]:
# So this is the use of membership operator , by which we can check any element availability in the set. It is used to check that element is present in the set or not.

### Operations in set :-

In [ ]:
# Sets have four operations are :-

# 1 - Union          # syntax of union operation = | (symbol of 'or' bitwise operator)
# 2 - Intersection   # syntax of intersection    = & ( symbol of and)
# 3 - Diffrence      # syntax of diffrence       = - (negative sign) 
# 4 - Symmetric      # syntax of symmetric       = ^ (symbol of hat or cap)

In [214]:
# union operation >> combine of all elements from both the sets.
A = {1,2,3,4}
B = {3,4,5,6}

In [215]:
A|B # this is union operation.

{1, 2, 3, 4, 5, 6}

In [216]:
# intersection operation >> only common elements from both the sets.
A&B # this is intersection operation.

{3, 4}

In [218]:
# diffrence operation >> Only all elements of first set , but exclude the common elements as well as elements of second set also.
A-B # diffrence operation.

{1, 2}

In [219]:
# symmetric operation :- all elements from both the sets , only exclude common elements of both sets.
A^B # this is symmetric operation.

{1, 2, 5, 6}

#### Hashable and unhashable

In [ ]:
# Hashable means , that type of data structure , which have stable memory block address.
# Unhashable means , that type of data structure , which have not stable block address.

In [220]:
# Set is hashable type data but set only requires unhashable data type :-
#ex:-

In [222]:
# list in set:-
sets = {1,2,3,[4,5,6]} # it will give error , because list is unhashable type data.
sets

TypeError: unhashable type: 'list'

In [223]:
# set in set :-
sets = {1,2,3,{4,5,6}} # again we get error because sets is also a unhashable data, and set only require hashable data.
sets

TypeError: unhashable type: 'set'

In [224]:
# tuples in set :-
sets = {1,2,3,(4,5,6)} # it will not give error , because tuples are unhashable type data.
sets

{(4, 5, 6), 1, 2, 3}

In [ ]:
# we also proved that set is unhashable type data , because set in set is not possible.
# so , set can contain only unhashable type data stucture.

In [225]:
# Iteration of set using for loop :-

In [226]:
data = {"mohsin" , "swati" , "rashika" , "swati" , "rashika" , "mohsin" , "swati" , 50.55,15,60,15,50.55,15,True, False , False , "mohsin" , True}
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika', 'swati'}

In [227]:
for item in data:
    print(item)

swati
True
False
15
mohsin
50.55
rashika
60

### Frozen set :-

In [228]:
# frozen set :- a diffrent version of immutability set is known as frozen set. Build an immutable unordered collection of unique elements.
# syntax of frozen set >> frozenset({}).

In [229]:
data = {"mohsin" , "swati" , "rashika" , "swati" , "rashika" , "mohsin" , "swati" , 50.55,15,60,15,50.55,15,True, False , False , "mohsin" , True}
data

{15, 50.55, 60, False, True, 'mohsin', 'rashika', 'swati'}

In [233]:
new_data = frozenset(data)

In [234]:
new_data

frozenset({15, 50.55, 60, False, True, 'mohsin', 'rashika', 'swati'})

In [235]:
type(new_data)

frozenset

In [237]:
# if we have any list :-
lis = [1,2,3,4,5]
new_list = frozenset(lis)

In [238]:
new_list

frozenset({1, 2, 3, 4, 5})

In [239]:
type(new_list)

frozenset

In [240]:
# if we want to manipulate the frozen set data :-
new_list[2] # it give error , because frozen set cannot be accesse afyter creation.

TypeError: 'frozenset' object is not subscriptable

In [241]:
new_list[2] = 5 # it will again give error , because frozen set are immutable. They can not be manipulated by anyways.

TypeError: 'frozenset' object does not support item assignment

In [ ]:
# This is the complete understanding of frozen set.

In [ ]:
# This is the complete discussion of use case  of tuples and sets.

### Question 7 - Discuss how to add , modify , and delete items in a dictionary with examples.

In [ ]:
# Ans - Dictionary :- Dictionary is a collection of ordered data in the form of keys and values pair.
                   # Dictionary is a mutable data structure.
                   # keys are unique and immutable.
                   # Dictionary is a hetrogenous type of data structure.
                   # Dictionary is Unhashable type data.
                   # Syntax of dictionary >> my_dict{key:pair}.

In [ ]:
# We can add , modify and delete items from dictionary by the using of its functions are :-

# 1 - [key] = "value" # this helps to add any new pair of keys and values in the dictionary.
# 2 - .update()       # helps to update a dictionary in other dictionary.
# 3 - .get()          # help to get the complete details of values refere to that purticular keys.
# 4 - .copy()         # helps to make a copy of dictionary with other memory space name.(deep copy)
# 5 - .keys()         # helps to know the keys available in the dictionary.
# 6 - .values()       # helps to know the values available in the dictionary.
# 7 - .items()        # helps to know the complete keys and values available in the dictionary.
# 8 - len()           # helps to know the total length of the dictionary.
# 9 - del()           # helps to delete the complete dictionary.
# 10 - .clear()       # helps to clear all the keys and values from the dictionary.
# 11 - .pop()         # helps to delete any purticular key and value from the dictionary
# 12 - .fromkeys()    # helps to make a new dictionary from the given sequences of elements.
# 13 - zip function   # helps to make a  correspondence values to the two diffrence value with together.(zip(key,value))

In [3]:
d = {"name":"mohsin"} # this is the presentation of dictionary.

In [5]:
print(d)
print(type(d))

{'name': 'mohsin'}
<class 'dict'>

In [7]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
print(data)
print(type(data))

{'name': 'mohsin', 'address': 'Eldeco saubhagyam', 'contact': 63888, 'Location': 'Lucknow'}
<class 'dict'>

In [8]:
# if we want to access any value :-
data["address"]

'Eldeco saubhagyam'

In [9]:
data["contact"]

63888

In [10]:
data["mohsin"] # here we get keyerror , because we cannot access keys by using values.

KeyError: 'mohsin'

In [ ]:
# So , this is the process of accessing the values by using keys.But we cannot access the keys by using values.

### Addition of items in dictionary :-

In [2]:
# If we want to add any keys and value in dictionary :-

In [11]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
data["Area"] = "Vrindavan Yojna" # this is the process by which we can add any keys and values in the dictionary.

In [12]:
data  # here we can see key and value both are added in the dictionary.

{'name': 'mohsin',
 'address': 'Eldeco saubhagyam',
 'contact': 63888,
 'Location': 'Lucknow',
 'Area': 'Vrindavan Yojna'}

In [13]:
data[528] = "co-ordinates" # so we can add any key and value like this also.

In [14]:
data

{'name': 'mohsin',
 'address': 'Eldeco saubhagyam',
 'contact': 63888,
 'Location': 'Lucknow',
 'Area': 'Vrindavan Yojna',
 528: 'co-ordinates'}

In [ ]:
# So these are the process by which we can add any pair of keys and values in the dictionary.

### Modify items in dictionary :-

In [ ]:
# We can modify items in dictionary by using different function of dictionary are :-

In [24]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"} # This is a dictionary.

In [16]:
# use of .update() function :- helps to update a new dictionary in other dictionary.

In [25]:
d = {"name1":"abhishek" , "address1":"bijnour","contact1":926096,"Location1":"lucknow"}
print(d)
print(type(d))

{'name1': 'abhishek', 'address1': 'bijnour', 'contact1': 926096, 'Location1': 'lucknow'}
<class 'dict'>

In [26]:
data.update(d) # this is the process of using .update() function.

In [27]:
data # so here we can see data will updated by 'd' dictionary

{'name': 'mohsin',
 'address': 'Eldeco saubhagyam',
 'contact': 63888,
 'Location': 'Lucknow',
 'name1': 'abhishek',
 'address1': 'bijnour',
 'contact1': 926096,
 'Location1': 'lucknow'}

In [ ]:
# This is the process of updating a new dictionary in other dictionary.

In [28]:
# .copy() function :- is used to make a copy of dictionary with new memory space.

In [29]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
data1 = data.copy() # so this is the process by which we can make a copy of dictionary with a new memory space.

In [30]:
data1

{'name': 'mohsin',
 'address': 'Eldeco saubhagyam',
 'contact': 63888,
 'Location': 'Lucknow'}

In [31]:
data

{'name': 'mohsin',
 'address': 'Eldeco saubhagyam',
 'contact': 63888,
 'Location': 'Lucknow'}

In [32]:
# now if we edit anything in data1 , it will not impact on data, because now they both are different memory space.

In [33]:
data1["contact"] = 123456

In [34]:
data1 # so it will change the contact.

{'name': 'mohsin',
 'address': 'Eldeco saubhagyam',
 'contact': 123456,
 'Location': 'Lucknow'}

In [35]:
data # but it will not change anyhting in the data dictionary.

{'name': 'mohsin',
 'address': 'Eldeco saubhagyam',
 'contact': 63888,
 'Location': 'Lucknow'}

In [ ]:
# This is the process of using .copy() function (deep copy).

In [ ]:
# .get() function :- used to get the complete values of any purticular key.

In [36]:
# Example:-
my_dict = {"E001":{"name":"mohsin","department":"Analayst","Salary":100000},
           "E002":{"name":"swati","department":"HR","Salary":85000},
           "E003":{"name":"abhishek","department":"Accounts","Salary":85000}}

In [37]:
print(my_dict)
print(type(my_dict))

{'E001': {'name': 'mohsin', 'department': 'Analayst', 'Salary': 100000}, 'E002': {'name': 'swati', 'department': 'HR', 'Salary': 85000}, 'E003': {'name': 'abhishek', 'department': 'Accounts', 'Salary': 85000}}
<class 'dict'>

In [38]:
my_dict.get("E002") # this is the use of .get() function.

{'name': 'swati', 'department': 'HR', 'Salary': 85000}

In [39]:
my_dict.get("E003")

{'name': 'abhishek', 'department': 'Accounts', 'Salary': 85000}

In [40]:
# we can also do this by :-
my_dict["E002"] # this is also a process , by which we can get the complete values of any keys.

{'name': 'swati', 'department': 'HR', 'Salary': 85000}

In [ ]:
# We can check any purticular complete values of any purticular keys.

In [45]:
# .keys() function :- helps to know the complete keys available in the dictionary:-
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
data.keys() # we can get the complete keys available in the dictionary.

dict_keys(['name', 'address', 'contact', 'Location'])

In [46]:
# .values() function :- helps to know the complete values present in the dictionary:-
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
data.values() # these are the complete values present in the dictionary.

dict_values(['mohsin', 'Eldeco saubhagyam', 63888, 'Lucknow'])

In [47]:
# .items() function :- helps to know the complete keys and values present in the dictionary.

In [48]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
data.items() # these are the items available in this purticular dictionary.

dict_items([('name', 'mohsin'), ('address', 'Eldeco saubhagyam'), ('contact', 63888), ('Location', 'Lucknow')])

In [49]:
# len() function :- used to know the complete length of the dictionary :-
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
len(data) # so here we have 4 keys , that's why the length of the dictionary is 4.

4

In [50]:
# .fromkeys() >> helps to make a new dictionary from the given sequences of elements.

In [51]:
# they are the two simple list , by which we want to make dictionary :-
a = [1,2,3,4]
b = ["a", "b" , "c" , "d" , "e"]

In [56]:
data.fromkeys((1,2,3),("a", "b" , "c" , "d" , "e")) # so this is the process by which we can make two random lists into dictinary.

{1: ('a', 'b', 'c', 'd', 'e'),
 2: ('a', 'b', 'c', 'd', 'e'),
 3: ('a', 'b', 'c', 'd', 'e')}

In [ ]:
# This is the process of using .fromkeys() function.

### Zip function :-

In [ ]:
# Zip function :- helps to make a correspondence values to the two diffrence value with together.(zip(key,value))

In [57]:
# suppose we have two diffrent data , and we have to make correspondence by using that data , then we use zip function :-

In [58]:
names = ["mohsin" , "swati" , "rashika" , "zeba" , "abhishek", "sanjeev"] 
ages = [27 , 29 , 29 , 30 , 28 , 30]
# so these are the given data by which we have to make a dictionary.

In [59]:
# so for zip function we have to use for loop :-

In [60]:
for name,age in zip(names,ages):
    print(name,age) # so this is the process by which we can make a proper correspondence details.

mohsin 27
swati 29
rashika 29
zeba 30
abhishek 28
sanjeev 30

In [ ]:
# This is the complete process of zip function.

### Dictionary comprehension :-

In [ ]:
# Dictionary comprehension :- used to concise the code.

In [72]:
names = ["mohsin" , "swati" , "rashika" , "zeba" , "abhishek", "sanjeev"] 
ages = [27 , 29 , 29 , 30 , 28 , 30]
{name:age for name,age in zip(names,ages)} # This is the process of dictionary comprehension.

{'mohsin': 27,
 'swati': 29,
 'rashika': 29,
 'zeba': 30,
 'abhishek': 28,
 'sanjeev': 30}

In [73]:
# Another example :-
students = ["mohsin" , "abhishek" , "swati" , "zeba" , "rashika" , "sanjeev"]
marks = [75 , 70 , 85 , 88 , 80 , 73]

In [74]:
print({student:mark for student,mark in zip(students,marks)}) # this is the use of dictionary comprehension.

{'mohsin': 75, 'abhishek': 70, 'swati': 85, 'zeba': 88, 'rashika': 80, 'sanjeev': 73}

In [ ]:
# This is the complete use of dictionary comprehension.

In [61]:
# iteration in dictionary :-

In [62]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}

In [64]:
for key in data.keys():
    print(key)

name
address
contact
Location

In [65]:
for value in data.values():
    print(value)

mohsin
Eldeco saubhagyam
63888
Lucknow

In [67]:
for key,value in data.items():
    print(key,value)

name mohsin
address Eldeco saubhagyam
contact 63888
Location Lucknow

In [ ]:
# This is the process of iteration in dictionary.

In [ ]:
# This is the complete process of modification of items in dictionary.

### Deleting of items in dictionary :-

In [75]:
# by using .pop() function :- helps to delete any purticular keys and values.

In [77]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
data.pop("address") #it will delete address key and its value.

'Eldeco saubhagyam'

In [78]:
data

{'name': 'mohsin', 'contact': 63888, 'Location': 'Lucknow'}

In [80]:
data.pop("contact") # it will delete the contact and key and its value.

63888

In [81]:
data

{'name': 'mohsin', 'Location': 'Lucknow'}

In [82]:
# by using .clear() function :- helps to clear the complete keys and their values from the dictionary.

In [83]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
data.clear() # by the use of this process we can remove the complete keys and their values from the dictionary.

In [84]:
data # it makes an empty dictionary.

{}

In [85]:
# use of del() function :- it will delete the complete dictionary.

In [86]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
del(data)

In [87]:
data

NameError: name 'data' is not defined

In [88]:
# del function can also delete any purticular key from the dictionary :-

In [89]:
data = {"name":"mohsin","address":"Eldeco saubhagyam","contact":63888,"Location":"Lucknow"}
del data["Location"] # so by using this method with del function , it will also helps to delete any purticular key and its value from the dictionary.

In [90]:
data

{'name': 'mohsin', 'address': 'Eldeco saubhagyam', 'contact': 63888}

In [ ]:
# So , this is the complete understanding of adding , modifying and deleting of items from the dictionary.

## Question 8 - Discuss the importance of dictionary keys being immutable and provide examples.

In [ ]:
# Ans - Keys are immutable , because if the key were a mutable object, its value could change, and thus its hash could also change.

# Keys cannot be a mutable , because if keys are mutable , then it can be chnaged , and if keys becomes changable , then its hash also can be changed.
# keys are immutable , means have stable hash value, means keys are hashable type data.
# This is the reason that's why keys cannot be use mutable or we can say unhashable type data, because if the keys are changable , then dictionary cannot be execute in python ,  or always get error.

# So this is the complete reason , for the importance of dictionary keys being immutable.

In [1]:
# Examples :- Valid data used as keys in dictionary:-

In [2]:
# use numbers(integers and float) as keys :-

In [3]:
data = {12:"mohsin",12.55:"abhishek",15:"zeba",15.55:"swati"}

In [4]:
print(data)
print(type(data))

{12: 'mohsin', 12.55: 'abhishek', 15: 'zeba', 15.55: 'swati'}
<class 'dict'>

In [5]:
data.keys() # so here we can see integers or float can be used as keys.

dict_keys([12, 12.55, 15, 15.55])

In [7]:
data.values() # these are the values.

dict_values(['mohsin', 'abhishek', 'zeba', 'swati'])

In [8]:
# if we use boolean value as keys :-

In [9]:
data = {True:"mohsin" ,False:"swati"}
print(data)
print(type(data))

{True: 'mohsin', False: 'swati'}
<class 'dict'>

In [10]:
data.keys() # so here we can see boolean value also works as keys in dictionary.

dict_keys([True, False])

In [11]:
data.values()

dict_values(['mohsin', 'swati'])

In [12]:
# if we use string as a key :-

In [13]:
data = {"name":"mohsin","address":"lko"}
print(data)
print(type(data))

{'name': 'mohsin', 'address': 'lko'}
<class 'dict'>

In [14]:
data.keys() # so we can also use strings as keys in dictionary.

dict_keys(['name', 'address'])

In [15]:
data.values()

dict_values(['mohsin', 'lko'])

In [16]:
# If we use tuples as keys in dictionary :-

In [17]:
data = {(1,2,3):"mohsin",(5,6,7):"swati",(8910):"abhishek"}

In [18]:
print(data)
print(type(data))

{(1, 2, 3): 'mohsin', (5, 6, 7): 'swati', 8910: 'abhishek'}
<class 'dict'>

In [19]:
data.keys() # it means we can also use tuples as keys , because tuples are also immutable.

dict_keys([(1, 2, 3), (5, 6, 7), 8910])

In [20]:
data.values()

dict_values(['mohsin', 'swati', 'abhishek'])

In [ ]:
# So , the complete conclusion is , keys only use immutable data.
# We can use immutable data like (string , integers , float , boolean and tuple data structure) , they all are immutable and have a stable hash value. and keys only use the data who have stable hash value. Because keys also have stable hash value , and keys never can be change in dictionary.

#### Invalid data which cannot be used as keys in dictionary :-

In [21]:
# example :-

In [22]:
# if we want to use any special characters as keys :-
data = {#:"mohsin",#:"swati"} # so we get error because # is used to write comments in python , and we cannot use it as keys in dictionary.
data

SyntaxError: incomplete input (3347267319.py, line 3)

In [23]:
# if we use _ (underscore character) :-

In [25]:
data = {_:"mohsin",_:"swati"}
print(data)
print(type(data))

{dict_values(['mohsin', 'swati', 'abhishek']): 'swati'}
<class 'dict'>

In [26]:
data.keys()

dict_keys([dict_values(['mohsin', 'swati', 'abhishek'])])

In [27]:
data.values()

dict_values(['swati'])

In [ ]:
# so here we can see , it will not give error , but it also cannot able to work properly.That's why we also cannot use underscore character as keys.
# Because underscore character helps in writting code in python , it cannot be use as keys in dictionary.

In [28]:
# Now if we use @ as keys in dictionary :-

In [29]:
data = {@:"mohsin"} # so here we get error , because @ also cannot be used as keys in dictionary.

SyntaxError: invalid syntax (2083327523.py, line 1)

In [ ]:
# So , the complete conclusion according to the special character is that , special character cannot be used as keys in dictionary.

In [30]:
# Now if we use list data structure as keys :-

In [31]:
data = {[1,2,3]:"mohsin"} # so it will again give error , because list is mutable , where as keys are immutable.
data

TypeError: unhashable type: 'list'

In [ ]:
# list are unhashable type of data , it means list have not stable hash value , and we can only use stable hash value type of data as keys in dictionary.

In [32]:
# Now if we use sets as keys in dictionary :-

In [33]:
data = {{1,2,3}:"mohsin"} # again we get error , because set only require immutable data , but set is a mutable data , that's set also cannot use as keys.
data

TypeError: unhashable type: 'set'

In [ ]:
# sets are unhashable type of data , it means sets have not stable hash value , and we can only use stable hash value type of data as keys in dictionary.
# Sets  requires immutable data structure in set , but set is a mutable data , and have unhashable type data.

In [34]:
# Now if we use dictionary as keys in dictionary :-

In [36]:
data = {{"name":"mohsin"}:"abhishek"} # again we get error , because dictionary is also a mutable data type , that's why it's also cannot use as keys.
data

TypeError: unhashable type: 'dict'

In [ ]:
# So , dictionary as keys cannot be used , because dictionary is a mutable type data , means dictionary is unhashable type data , means it's also have not stable hash value. and we can use as keys in dictionary , only immutable type data , means who have stable hash value.
# hash value >> memory block have some address , and that address is called hash value.

In [ ]:
# This is the complete understanding about the importance of keys immutable in dictionary with examples.

#### This is the complete assignment from my end.